{% extends "base.html" %}

{% block title %}
    Error Page
{% endblock %}

{% block main %}

<h1 class="title">Hello, Error!</h1>
<h2 class="subtitle">Error was: "{{ error_msg }}"</h2>
<!--<form method="post">-->
<!--    Document ID:<input class="input" type="number" name="document_id" placeholder="123">-->
<!--    Comment:<input class="input" type="text" name="comment">-->
<!--    <button type="submit">-->
<!--            Submit-->
<!--    </button>-->
<!--</form>-->

{% endblock %}