{% extends "base.html" %}

{% block title %}
    Redirection page
{% endblock %}

{% block main %}

<h1 class="title">You were redirected here!</h1>
<!--Commented code was left for adding html sample later-->
<!--<form method="post">-->
<!--    Document ID:<input class="input" type="number" name="document_id" placeholder="123">-->
<!--    Comment:<input class="input" type="text" name="comment">-->
<!--    <button type="submit">-->
<!--            Submit-->
<!--    </button>-->
<!--</form>-->

{% endblock %}